<po-page-default p-title="Alteração de Produto">

  <div class="po-row">
    <div class="po-lg-10 po-offset-lg-1 po-xl-10 po-offset-xl-1">
      <form #formProduto="ngForm">
        <po-container>
          <po-input
            class="po-md-4"
            [(ngModel)]="mapa.codigoProduto"
            name="codigo"
            p-label='Código do produto'
            p-clean="true"
            p-minlength="1"
            [p-required]="true"
            p-placeholder="Insira o código do produto."
            p-disabled="true">
          </po-input>

          <po-input
            class="po-md-8"
            [(ngModel)]="mapa.descricaoProduto"
            name="descricaoProduto"
            p-label='Descrição do produto'
            p-clean="true"
            p-minlength="1"
            [p-required]="true"
            p-placeholder="Insira a descrição do produto."
            p-disabled="true">
          </po-input>
          <po-number class="po-md-3"
            name="valorUnitario"
            [(ngModel)]="mapa.valorUnitario"
            p-auto-focus="boolean"
            p-clean="true"
            p-label="Valor Unitário"
            p-optional="boolean"
            p-placeholder="Valor Unitário do Produto"
            p-required="false"
            p-disabled="true">
          </po-number>

          <po-number class="po-md-3"
            name="estoqueMinimo"
            [(ngModel)]="mapa.estoqueMinimo"
            p-auto-focus="boolean"
            p-clean="true"
            p-label="Estoque mínimo."
            p-optional="false"
            p-placeholder="Quantidade mínima em estoque."
            p-required="false"
            p-disabled="true">
          </po-number>

        <po-select
          id="unidadeMedida"
          class="po-md-6"
          name="unidadeMedida"
          [(ngModel)]="mapa.unidadeMedida"
          p-label="Unidade de Medida"
          [p-options]="SelUnimed"
          [p-required]="true"
          p-disabled="true">
        </po-select>

        </po-container>
        <po-container>
          <div class="po-row">
            <po-button
              class="po-md-12"
              p-label="Voltar"
              p-type="primary"
              p-small="true"
              p-icon="po-icon po-icon-exit"
              (p-click)="CancelProd()">
            </po-button>
          </div>
        </po-container>
      </form>

    </div>
  </div>



</po-page-default>
<!--
<po-modal #modalCancelEditProduto
  p-close
  p-size="sm"
  [p-title]=".modalCancelEditProdutoTitle"
  [p-primary-action]="confirmReturnToListAction"
  [p-secondary-action]="returnAction">

  <div class="po-font-text-large po-text-left">{{ .modalCancelEditProdutoMessage | [mapa.id]}}</div>
</po-modal>
-->

