<po-page-default p-title="Inclusão de Igreja">

  <div class="po-row">
    <div class="po-lg-10 po-offset-lg-1 po-xl-10 po-offset-xl-1">
      <form #formProduto="ngForm">
        <po-container>
          <po-input
            class="po-md-8"
            [(ngModel)]="mapa.descigreja"
            name="descigreja"
            p-label='Insira a Igreja'
            p-clean="true"
            p-minlength="1"
            [p-required]="true"
            p-placeholder="Descrição da Igreja.">
          </po-input>

          <po-input class="po-md-4"
            name="codrelat"
            [(ngModel)]="mapa.codrelat"
            p-auto-focus="boolean"
            p-clean="true"
            p-label="Código do Relatório"
            p-optional="true"
            p-mask="99-9999"
            p-placeholder="Código do Relatório"
            p-required="false">
          </po-input>

          <po-number class="po-md-4"
            name="atalho"
            [(ngModel)]="mapa.atalho"
            p-auto-focus="boolean"
            p-clean="true"
            p-label="Atalho"
            p-optional="true"
            p-placeholder="Atalho"
            p-required="false">
          </po-number>

          <po-input
            class="po-md-8"
            [(ngModel)]="mapa.endereco"
            name="endereco"
            p-label='Endereço'
            p-clean="true"
            p-minlength="1"
            [p-required]="true"
            p-placeholder="Endereço">
          </po-input>

          <po-input
            class="po-md-6"
            [(ngModel)]="mapa.tel"
            name="tel"
            p-label='Telefone'
            p-clean="true"
            p-minlength="1"
            [p-required]="false"
            p-mask="(99)99999-9999"
            p-placeholder="Telefone">
          </po-input>

          <po-input
            class="po-md-6"
            [(ngModel)]="mapa.cep"
            name="cep"
            p-label='CEP'
            p-clean="true"
            p-minlength="1"
            [p-required]="true"
            p-mask="99999-999"
            p-placeholder="CEP.">
          </po-input>

        </po-container>
        <po-container>
          <div class="po-row">
            <po-button
              class="po-md-6"
              p-label="Excluir"
              p-icon="po-icon po-icon-delete"
              p-type="primary"
              (p-click)="excluiIgreja()">
            </po-button>
            <po-button
              class="po-md-6"
              p-label="Cancelar"
              p-icon="po-icon po-icon-exit"
            p-type="primary"
              (p-click)="CancelGrava()">
            </po-button>
          </div>
        </po-container>
      </form>

    </div>
  </div>

</po-page-default>

